.login_page_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--height-navbar));
    flex-wrap: wrap-reverse;
}

.login_page_content {
    display: flex;
    flex-direction: row;
}

.form_and_new_account_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;
}

.create_account_button_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
