.input_field_wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: end;
    align-items: center;
}

.input_text_field {
    border: solid 1px var(--color-darkgreen);
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    outline: 0;
}

.input_text_field:focus {
    outline: var(--color-brightgreen) 1px solid;
}