.card_button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 256px;
    width: 256px;
    border: solid 1px var(--color-offblack);
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.card_button_image_wrapper {
    height: 150px;
    display: flex;
    align-items: center;
}

.card_button_image {
    display: flex;
    justify-content: center;
    width: 236px;
}

.card_button_title {
    font-family: "Spicy Rice", serif;
    font-size: 1.5rem;
}

/*-----------------------Background color themes ---------------------*/

.asia {
    background: var(--color-offblack);
    background: linear-gradient(30deg, var(--color-offblack) 37%, var(--color-asia) 100%);
}

.africa {
    background: var(--color-offblack);
    background: linear-gradient(30deg, var(--color-offblack) 37%, var(--color-africa) 100%);
}

.australia {
    background: var(--color-offblack);
    background: linear-gradient(30deg, var(--color-offblack) 37%, var(--color-australia) 100%);
}

.europe {
    background: var(--color-offblack);
    background: linear-gradient(30deg, var(--color-offblack) 37%, var(--color-europe) 100%);
}

.north_america {
    background: var(--color-offblack);
    background: linear-gradient(30deg, var(--color-offblack) 37%, var(--color-north-america) 100%);
}

.south_america {
    background: var(--color-offblack);
    background: linear-gradient(30deg, var(--color-offblack) 37%, var(--color-south-america) 100%);
}

.earth {
    background: var(--color-offblack);
    background: linear-gradient(30deg, var(--color-offblack) 37%, var(--color-earth) 100%);
}